.section-form-login{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0 auto;
    background-color: rgb(185, 183, 183);
}

.section-form-login form{
    max-width: 100%;
    background-color: #F2F2F2;
    color: black;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgb(0, 0, 0, 0.0);
    
}